---
import pkg from "@/../package.json";
import { getFormattedDate } from "../..";

const developer = `${pkg.author.name} ${pkg.author.url} ${pkg.author.email}`;

interface Props {
  lang?: string;
  title?: string;
  author?: string;
  description?: string;
  keywords?: string;
  image?: string;
}

const {
  lang = pkg.lang,
  title = pkg.title,
  author = developer,
  description = pkg.description,
  keywords = pkg.keywords.join(", "),
  image = "/images/default-placeholder.jpg",
} = Astro.props;

const socialImageURL = new URL(image, Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>{title}</title>
    <meta name="version" content={pkg.version} />
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="generator" content={Astro.generator} />
    <meta name="developer" content={developer} />
    <meta
      name="template"
      content="https://github.com/sergio-ridaura/kickstart-template"
    />
    <meta name="build" content={String(getFormattedDate())} />
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.url)} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    @apply bg-bg_light dark:bg-bg_dark text-tx_light dark:text-tx_dark;
  }
</style>
