---
import capitalizeFirstString from "@cmp/string/capitalize";
import Footer from "@cmp/footer/colors.astro";
import Nav from "@cmp/nav/colors.astro";
import Layout from "@cmp/head/default.astro";
import getUrlI18n from "@cmp/i18n/getUrl";
import translateI18n from "@cmp/i18n/translate";

const url = getUrlI18n(Astro.url);
const i18n = translateI18n(Astro.url);

interface Props {
  title?: string;
  author?: string;
  description?: string;
  keywords?: string;
  image?: string;
}

const { title, author, description, keywords, image } = Astro.props;
---

<Layout
  title={title}
  author={author}
  description={description}
  keywords={keywords}
  image={image}
>
  <header>
    <Nav
      links={[
        {
          title: capitalizeFirstString(i18n("about")),
          url: `${url}/about/`,
        },
        {
          title: capitalizeFirstString(i18n("documentation")),
          url: `${url}/documentation/`,
        },
        {
          title: capitalizeFirstString(i18n("contact")),
          url: `${url}/contact/`,
        },
        {
          title: "GitHub",
          url: "https://github.com/sergio-ridaura/kickstart-template",
        },
      ]}
    />
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <Footer
      links={[
        {
          title: capitalizeFirstString(i18n("contact")),
          url: `${url}/contact/`,
        },
        {
          title: capitalizeFirstString(i18n("privacyPolicy")),
          url: `${url}/privacy-policy`,
        },
        {
          title: "RSS",
          url: "/rss.xml",
        },
      ]}
    />
  </footer>
</Layout>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    @apply bg-bg_light dark:bg-bg_dark text-tx_light dark:text-tx_dark;
  }
</style>
