---
import {
  DefaultHeadLayout,
  ColorsNav,
  ColorsFooterLayout,
} from "@src/components";

interface Props {
  title?: string;
  author?: string;
  description?: string;
  keywords?: string;
  image?: string;
}

const { title, author, description, keywords, image } = Astro.props;
---

<DefaultHeadLayout
  title={title}
  author={author}
  description={description}
  keywords={keywords}
  image={image}
>
  <header>
    <ColorsNav
      links={[
        {
          title: "About",
          url: "/about",
        },
        {
          title: "Documentation",
          url: "/documentation",
        },
        {
          title: "Contact",
          url: "/contact",
        },
        {
          title: "GitHub",
          url: "https://github.com/sergio-ridaura/kickstart-template",
        },
      ]}
    />
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <ColorsFooterLayout
      links={[
        {
          title: "About",
          url: "/about",
        },
        {
          title: "Contact",
          url: "/contact",
        },
        {
          title: "Privacy policy",
          url: "/privacy-policy",
        },
        {
          title: "RSS",
          url: "/rss.xml",
        },
      ]}
    />
  </footer>
</DefaultHeadLayout>
