---
import {
  capitalizeFirstString as cap,
  ColorsFooterLayout as Footer,
  ColorsNav as Nav,
  DefaultHeadLayout as Layout,
  getUrlI18n,
  translateI18n,
} from "@src/components";

const url = getUrlI18n(Astro.url);
const i18n = translateI18n(Astro.url);

interface Props {
  title?: string;
  author?: string;
  description?: string;
  keywords?: string;
  image?: string;
}

const { title, author, description, keywords, image } = Astro.props;
---

<Layout
  title={title}
  author={author}
  description={description}
  keywords={keywords}
  image={image}
>
  <header>
    <Nav
      links={[
        {
          title: cap(i18n("about")),
          url: `${url}/about/`,
        },
        {
          title: cap(i18n("documentation")),
          url: `${url}/documentation/`,
        },
        {
          title: cap(i18n("contact")),
          url: `${url}/contact/`,
        },
        {
          title: "GitHub",
          url: "https://github.com/sergio-ridaura/kickstart-template",
        },
      ]}
    />
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <Footer
      links={[
        {
          title: cap(i18n("contact")),
          url: `${url}/contact/`,
        },
        {
          title: cap(i18n("privacyPolicy")),
          url: `${url}/privacy-policy`,
        },
        {
          title: "RSS",
          url: "/rss.xml",
        },
      ]}
    />
  </footer>
</Layout>
